:root {
  --primary-color: #ffad32;
  --bg-color: #041030ee;
  --text-color: #fff;
  --text-light: #ddd;
  --table-hover: #ddd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-color);
  color: #fff;
  font-size: 1.1rem;
  font-family: "Livvic" sans-serif;
  overflow-y: scroll;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.wrapper {
  width: 100%;
}

h1 {
  margin: 2rem 0;
  font-size: 2.6rem;
  text-align: center;
}

h3 {
  margin: 2rem 0;
}

span {
  color: var(--primary-color);
}

label {
  font-size: 1.4rem;
}

input[type="text"],
input[type="submit"],
input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 9px 45px;
  margin: 0.8rem 0;
  border: none;
  border-radius: 6px;
}

input:focus {
  outline: none;
  border: var(--primary-color) 1px solid;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1.2rem;
}
input[type="submit"]:hover {
  background: #c47e16;
}

/* input[type="checkbox"] {
  background-color: #000;
} */

/* .row {
  margin: 0 1rem 0 0;
} */

table {
  color: var(--text-color);
  cursor: pointer;
  border-radius: 8px;
  border-collapse: collapse;
}

table thead {
  color: var(--primary-color);
}

tbody tr {
  /* padding: 10px 20px; */
  /* border-radius: 10px; */
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}
td {
  padding: 5px 20px;
  /* border: 1px solid var(--text-light); */
  text-align: center;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}
table td:hover {
  background: var(--text-light);
  color: black;
}

@media (max-width: 768px) {
  .container {
    width: 300px;
  }

  .row {
    margin-left: -2rem;
  }

  body {
    overflow-y: scroll;
  }
}
